    @charset "UTF-8";
    /*bass css*/
    
    html {
        font-size: 62.5%;
    }
    
    body {
        background: #fff;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 1.4rem;
        font-family: 'Audiowide', cursive, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    a,
    a:hover a:focus {
        text-decoration: none;
        color: #fff;
    }
    /*heading*/
    
    .heading {
        position: relative;
        font-size: 5rem;
        padding-top: 100px;
        padding-bottom: 10px;
        letter-spacing: 1px;
    }
    
    .heading::before,
    .heading::after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid;
    }
    
    .heading::after {
        bottom: 5px;
    }
    
    .wrapper {
        max-width: 1170px;
        margin: 0 auto;
        overflow: hidden;
    }
    /*header*/
    
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 10;
    }
    
    .header-nav {
        float: right;
    }
    
    .site-title a {
        float: left;
        font-size: 4rem;
        letter-spacing: 1px;
        top: 100%;
        margin-top: 5px;
        padding-left: 20px;
        transition: all 0.3s;
    }
    
    .site-title a:hover {
        transform: rotate(-1deg);
        font-size: 4.1rem;
    }
    
    .header-nav .nav {
        display: inline-block;
        font-size: 2rem;
        margin-right: 20px;
        padding-top: 10px;
        letter-spacing: 1px;
        top: 100%;
    }
    
    .header-nav .nav::after {
        content: '';
        display: block;
        border-bottom: 1px solid;
        color: #fff;
        width: 0px;
        transition: all 0.3s;
    }
    
    .header-nav .current a {
        color: rgb(255, 0, 0);
    }
    
    .header-nav .nav:hover::after {
        width: 100%;
    }
    /*main page*/
    
    .main {
        height: 1010px
    }
    
    .main-title-sub {
        font-size: 2rem;
        padding-top: 200px;
    }
    
    .main-title-sub::after,
    .main-title-sub::before {
        content: '';
        display: inline-block;
        border-bottom-style: double;
        width: 250px;
        vertical-align: baseline;
        margin: 0 10px;
        transition: all 2s ease-out;
    }
    
    .main-title {
        font-size: 10rem;
        padding: 10px 0;
    }
    
    .main-title span {
        opacity: 0;
    }
    
    .click-button {
        display: inline-block;
        height: 40px;
        width: 200px;
        color: black;
        font-size: 3rem;
        margin-top: 100px;
    }
    
    .click-button:hover {
        border-radius: 5px;
        border: 0.5px solid rgba(0, 0, 0, 0.3);
    }
    
    .smart-button {
        display: none;
    }
    /*about*/
    
    .about {
        height: 100%;
        background-color: rgb(0, 0, 0);
        color: #fff;
        padding-bottom: 100px;
    }
    
    .about-name {
        font-size: 4rem;
        letter-spacing: 5px;
    }
    
    .about-profile {
        padding-top: 20px;
        font-size: 3rem;
        letter-spacing: 5px;
    }
    
    .about-text {
        padding-top: 20px;
        line-height: 2;
        font-size: 3rem;
        letter-spacing: 5px;
    }
    
    .about-text span {
        display: block;
        margin-top: 30px;
        font-size: 4rem;
    }
    /*skill*/
    
    .skills {
        height: 100%;
        letter-spacing: 2px;
    }
    
    .skill-sub-title {
        padding-top: 20px;
        line-height: 2;
        font-size: 3rem;
        letter-spacing: 5px;
    }
    
    .skill-wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto 100px;
        transition: all 1s;
        display: flex;
        flex-wrap: wrap;
    }
    /* .skill-wrapper:hover {
        background-color: rgb(0, 0, 0);
        color: #fff;
        box-shadow: 0 0 50px rgb(0, 0, 0);
    } */
    
    .skill-box {
        display: inline-block;
        padding-top: 50px;
        margin: 50px;
    }
    
    .skill-box-2 {
        display: inline-block;
        padding-top: 50px;
        margin: 20px;
    }
    
    .skill-box>img {
        display: block;
        width: 180px;
        margin: 0 auto;
    }
    
    .skill-box-2>img {
        display: block;
        width: 500px;
        margin: 0 auto;
    }
    /* .skill-box img:hover {
        width: 310px;
    }
     */
    
    .skill-box h2 {
        margin-top: 20px;
    }
    
    .skill-text {
        display: block;
        height: 100px;
        width: 240px;
        word-break: break-all;
        margin: 0 auto;
    }
    /*works*/
    
    .works-sub-title {
        margin: 0 auto;
        font-size: 3rem;
    }
    
    .works-title {
        font-size: 8rem;
        margin: 0 auto;
    }
    
    .work-s {
        display: none;
    }
    
    .work>img {
        display: block;
        width: 700px;
        margin: 0 auto;
    }
    
    .work>img {
        display: block;
        width: 700px;
        margin: 0 auto;
    }
    
    .works-text {
        font-size: 2rem;
        margin: 50px 0;
    }
    
    .okusurilogo>img {
        border: solid #fff;
        background-color: #fff;
    }
    /*works*/
    
    .works {
        background-color: rgb(0, 0, 0);
        color: #fff;
        height: 3200px;
        letter-spacing: 2px;
    }
    
    .works-wrapper {
        display: table;
        margin-top: 100px;
        margin: 0 auto;
    }
    
    .works-icon {
        display: block;
        font-size: 20rem;
        margin: 0 auto;
        transition: all 2s;
    }
    
    .works-icon:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    
    .works-title {
        font-size: 7rem;
        margin-top: 20px;
    }
    /*contact*/
    
    .contact {
        height: 1010px;
    }
    
    .contact-wrapper {
        margin: 0 auto;
    }
    
    .contact-form {
        width: 50%;
        margin: 100px auto;
    }
    
    .contact-name,
    .contact-email,
    .contact-message,
    .contact-button {
        display: block;
        width: 100%;
        margin-top: 50px;
        text-align: center;
        font-size: 3rem;
        letter-spacing: 1px;
        outline: none;
    }
    
    .contact-message {
        height: 300px;
    }
    
    .contact-button {
        display: block;
        height: 100px;
        color: #fff;
        background-color: rgba(0, 0, 0, 1);
    }
    
    .contact-name:focus,
    .contact-email:focus,
    .contact-message:focus {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8)inset;
    }
    
    .contact-button:hover {
        color: rgba(0, 0, 0, 1.0);
        background-color: #fff;
        box-shadow: 0 0 10px rgb(0, 0, 0);
    }
    
    .footer {
        width: 100%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
        color: #fff;
        padding: 15px;
        font-size: 2rem;
        letter-spacing: 2px;
    }
    /*メディアクエリ*/
    /*header nav iQuery */
    
    #smart-nav-bar {
        display: none;
    }
    
    .smart-nav {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        /*親要素関係なし100%*/
        display: block;
        background: rgba(0, 0, 0, 0.8);
        transition: all 0.2s ease-in-out;
        opacity: 0;
        -webkit-transform: translate(-100%);
        transform: translateY(-100%);
        font-size: 2rem;
    }
    /*画面中央寄せ */
    
    .smart-nav .smart-list {
        padding: 0;
        display: flex;
        flex-direction: column;
        /*わからん*/
        justify-content: center;
        /*わからん*/
        align-items: center;
        /*わからん*/
        height: 500px;
    }
    
    .smart-nav li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    .smart-nav li span {
        color: #fff;
        cursor: pointer;
    }
    
    .smart-nav li a,
    .smart-nav li span {
        display: block;
        padding: 20px 0;
    }
    
    .smart-nav .close {
        position: relative;
        padding-left: 20px;
    }
    
    .smart-nav i {
        position: absolute;
        display: inline-block;
        left: 0;
        top: 38%;
        color: #fff;
        font-size: 2rem;
    }
    
    .toggle {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    /*メディアクエリ*/
    
    @media(max-width: 1000px) {}
    
    @media(max-width: 670px) {
        /*スマートフォン向けナビメニュー*/
        .site-title a {
            font-size: 3rem;
            padding: 8px 10px;
        }
        .site-title a:hover {
            font-size: 3rem;
        }
        .header-nav {
            display: none;
        }
        #smart-nav-bar {
            display: block;
        }
        #smart-nav-bar {
            float: right;
            padding: 5px 10px;
            font-size: 4rem;
        }
        .main {
            height: 600px;
        }
        .main-title-sub {
            padding-top: 100px;
        }
        .main-title-sub::after,
        .main-title-sub::before {
            width: 50px;
        }
        .main-title-sub:hover::after,
        .main-title-sub:hover::before {
            width: 50px;
        }
        .main-title {
            padding-top: 10px;
            font-size: 4rem;
            line-height: 1.4;
        }
        .click-button {
            opacity: 0;
        }
        .smart-button {
            display: block;
            color: rgba(0, 0, 0, 1);
            font-size: 2rem;
        }
        /*文字等調整*/
        .heading {
            font-size: 3rem;
            display: inline-block;
            padding-top: 40px;
        }
        /*about*/
        .about-profile,
        .about-text {
            font-size: 1.5rem;
        }
        .about-text span {
            font-size: 2rem;
        }
        .about {
            height: 800px;
        }
        /*skill*/
        .skills {
            height: 100%;
        }
        .skill-sub-title {
            font-size: 1.8rem;
            padding: 0px;
            margin: 0;
        }
        .skill-wrapper {
            width: 100%;
            height: 100%;
            margin: 20px auto 40px;
            transition: all 1s;
            word-break: break-all;
            box-shadow: none;
            display: flex;
            flex-wrap: wrap;
        }
        .skill-wrapper:hover {
            box-shadow: 0 0 0px rgb(0, 0, 0);
            background-color: #fff;
            color: rgb(0, 0, 0);
        }
        .skill-box {
            display: table-cell;
            width: 150px;
            padding: 20px;
            margin: 0 auto;
        }
        .skill-box-2 {
            display: inline-block;
            width: 200px;
            padding: 20px;
            margin: 0 auto;
        }
        .skill-box>img {
            display: block;
            width: 110px;
        }
        .skill-box-2>img {
            display: block;
            width: 200px;
            margin: 0 auto;
        }
        .skill-box img:hover {
            width: 110px;
        }
        /*
        .skill-box h2 {
            font-size: 2rem;
            text-align: center;
            margin: 20 auto;
        }
        .skill-text {
            display: block;
            height: 50px;
            width: 240px;
            word-break: break-all;
            margin: 0 auto;
        }*/
        /*works*/
        .works-sub-title {
            margin: 0 auto;
            font-size: 1.5rem;
        }
        .works-title {
            font-size: 6rem;
            margin: 0 auto 10px;
        }
        .work-s>img {
            display: block;
            width: 300px;
            margin: 0 auto;
        }
        .work {
            display: none;
        }
        .work-s {
            display: block;
        }
        .works-text {
            font-size: 2rem;
            margin: 50px 0;
        }
        .okusurilogo>img {
            border: solid #fff;
            background-color: #fff;
            width: 200px;
        }
        /*works*/
        .works {
            height: 100%;
            padding-bottom: 100px;
        }
        .works-wrapper {
            display: block;
            width: 300px;
            height: 100%;
            margin: 40px auto 0;
            word-break: break-all;
            box-shadow: 0 0 50px rgb(0, 0, 0);
        }
        .works-title {
            font-size: 2rem;
        }
        .works-text {
            font-size: 1.2rem;
        }
        .works-icon {
            font-size: 10rem;
        }
        /*contact*/
        .contact {
            height: 500px;
        }
        .contact-form {
            display: inline;
            margin-top: 0;
        }
        .contact-name,
        .contact-email,
        .contact-message,
        .contact-button {
            width: 80%;
            margin: 10px auto;
            font-size: 2rem;
            text-align: center;
        }
        .contact-message {
            height: 200px;
        }
        .contact-button {
            height: 40px;
        }
    }
    /* -------------------------------
 * challenge
 *
 * 31行目からの.heading::before, .heading::afterの
 * スタイルをコメントアウトしてから適用してください。
 * -------------------------------- */
    /*
.heading::before,
.heading::after {
  content: '';
  display: inline-block;
  width: 0.3em;
  height: 0.3em;
  margin: 0 0.5em;
  border: 1px solid;
  vertical-align: 0.2em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.work-box {
  overflow: hidden;
}
.work-image {
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.work-box:nth-child(odd) .work-image {
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
.work-box:nth-child(even) .work-image {
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}
.work-box:hover .work-image {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
*/